"<h1>Data Science Tools and Ecosystem</h1>"

<h2>In this notebook, Data Science Tools and Ecosystem are summarized.</h2>

<h2>Objectives:</h2>
<ul>
<li>Some of the popular languages that Data Scientists use.</li>
<li>Some of the commonly used libraries used by Data Scientists.</li>
<li>Data Science Tools</li>
</ul>

<h3>Some of the popular languages that Data Scientists use are:
    <ol>
        <li>Python</li>
        <li>R</li>
        <li>Julia</li>
    </ol>
</h3>

<h3>Some of the commonly used libraries used by Data Scientists include:
    <ol>
        <li>TensorFlow</li>
        <li>Matplotlib</li>
        <li>Pandas</li>
    </ol>
    </h3>

<table>
  <tr>
    <th>Data Science Tools</th>
    
  </tr>
  <tr>
    <td>Spyder</td>
    
  </tr>
  <tr>
    <td>Jupyter Lab</td>
  
  </tr>
  <tr>
    <td>VS Code</td>
    
  </tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Chinmayi